<div class="artalk-comment-wrap" data-comment-id="<%= data.id %>">
  <div class="artalk-comment">
    <div class="artalk-avatar">
      <a target="_blank" <% if(!!data.link){ %>href="<%= data.link %>"<% } %>>
        <img src="<%= getGravatarUrl() %>">
      </a>
    </div>
    <div class="artalk-content">
      <div class="artalk-header">
        <span class="artalk-nick">
          <a target="_blank" <% if(!!data.link){ %>href="<%= data.link %>"<% } %>><%= data.nick %></a>
        </span>
        <% if (!!data.badge) { %>
        <span class="artalk-badge"><%= data.badge %></span>
        <% } %>
        <span class="artalk-date"><%= timeAgo(new Date(data.date)) %></span>
        <span class="artalk-ua"><%= getUserUaBrowser() %></span>
        <span class="artalk-ua"><%= getUserUaOS() %></span>
      </div>
      <div class="artalk-body"><%- getContentMarked() %></div>
      <div class="artalk-footer">
        <div class="artalk-comment-actions">
          <span data-comment-action="reply">回复</span>
        </div>
      </div>
    </div>
  </div>
</div>
