<div class="artalk-editor-plug-emoticons">
  <div class="artalk-emoticons-list-wrap">
  <% for (var i in emoticons) { %>
    <% var item = emoticons[i] %>
    <div class="artalk-emoticons-list" data-key="<%- i %>" data-input-type="<%- item['inputType'] %>" style="display: none;">
      <% for (var name in item['container']) { %>
        <% var content = item['container'][name]; %>
        <span class="artalk-emoticons-item" title="<%- name %>" data-content="<%= content %>">
          <% if (item['inputType'] === 'image') { %>
            <img src="<%= content %>" alt="<%- name %>" />
          <% } else { %>
            <%= content %>
          <% } %>
        </span>
      <% } %>
    </div>
  <% } %>
  </div>
  <div class="artalk-emoticons-types">
  <% var types = Object.keys(emoticons); %>
  <% for (var i in types) { %>
    <span data-key="<%- types[i] %>"><%= types[i] %></span>
  <% } %>
  </div>
</div>
